#sub1{
    /* margin-left: 48%; */
    /* width: 6%; */
    color: white;
}

.app{
    width: 100%;
}

.movie{
    max-width: 92%;
}


.MovieBriefInfoBox span{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.MovieBriefInfoSubBox span{
    color: black;
    font-weight: normal;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 5px;
}
.MovieBriefInfoBox {
    height:10%;
    
}

body{
    background-image: url("../images/17580.jpg");
}

.previous-movies-group > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.previous-movies-group img {
    max-width: 120px;
}

.previous-movies-group img:hover{ 
    position: relative; 
    top: -10px;
    cursor: pointer;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    color: black;
    font-size: 130%;
}

.nav-item a:hover {
    text-decoration: none;
    color: #007bff;
  }

.navbar-row{
    max-width: 100%;
}

.TopMovieItem img{
    max-width: 100%;
    height: auto;
}

.TopMovieItem .rating img{
    max-width: 40%;
    height: auto;
    margin-right: 5px;
}

.TopMovieItem .rating span{
    font-weight: bold;
}

.TopMovieItem a{
    color: black;
}

.TopMovieItem a:hover{
    color: #136CB2;
}

.TopMovies{
    max-width: 90%;
}

.pagination{
    max-width: 50%;
}

.TopMovies hr{
    max-width: 50%;
    margin-left: 0px;
}

.TopMovies .header span{
    font-weight: bold;
}

.TopMovies .d-flex{
    margin-left: 250px;
    margin-top: 200px;
}

.loading{
    margin-left: 47%;
    margin-top: 15%;
}

.movieImage{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.movieImage:hover{
    cursor: pointer;
    outline-color: rgb(38 143 255 / 50%);
    outline-width: 2px;
    outline-style:solid ;

    
}
